*, ::before, ::after{
    margin: 0;
    padding: 0;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILOS DE LA PORTADA */

.text-rojo{
    color: red;
}

.right{
    float: right;
    text-align: right;
    width: -50%;
    height: -50%;
}

.jumbotron{
    position: relative;
    background:url("../img/correa_index.PNG") fixed center !important;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    overflow: hidden;
    padding: 0;
}
 /* ESTILOS DE ALGUNOS PRODUCTOS */
 #img-algunosProductos{
    position: relative;
    background:url("../img/correa_index.PNG") fixed center !important;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    overflow: hidden;
    padding: 0;
}

/* TRAYECTORIA*/

.p-trayectoria{
    font-size: 24px;
}
/* ESTILOS DEL CARRITO */

.cart{
    width: 80%;
    margin:auto;
    padding: 20px;
    background-color: pink;
}

.cart-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.producto-carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink
}
.producto-details{
    font-weight: bold;
}

.total-carrito{
    display: flex;
    justify-content: center;
}

/* FINALIZAR COMPRA */
.compra-finalizada{
    font-size: 50px;
    text-align: center;
}

.datos-parrafo{
    font-size: 30px;
    text-align: center;
}




/* ///// MODAL CARRITO //// */

.carrito-contenedor {
    background-color: rgb(55, 255, 0);
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-carrito {
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
    padding: 20px;
}



.table__productos {
    display: flex;
}

.table__productos>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}



